/* field label */
.field--label-inline {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.field-label {
  position: relative;
  color: var(--bold-color);
  font-family: var(--font-heading);
  font-weight: 700;
}
.field-label::before {
  content: '#';
  color: var(--color-primary);
}
.field-label::after {
  content: ':';
}